- name:                  "Create {{ __ansible_cache }}"
  file:
    path:                "{{ item }}"
    state:               directory
  with_items:
   - "{{ __ansible_cache }}"

- name:                  "Check if {{ __helm_repository }} is already added"
  shell:                 "helm repo list | grep {{ __helm_repository_local_name }} | grep {{ __helm_repository }}"
  changed_when:          true
  register:              helm_repo_already_added
  become_user:           "{{ __sudo_user }}"
  ignore_errors:         true

- name:                  "Cleanup {{ __ansible_cache_charts }}"
  file:
    path:                "{{ item }}"
    state:               absent
  with_items:
   - "{{ __ansible_cache_charts }}"

- name:                  "Create {{ __ansible_cache_charts }}"
  file:
    path:                "{{ item }}"
    state:               directory
  with_items:
   - "{{ __ansible_cache_charts }}"
  become_user:           "{{ __sudo_user }}"

- name:                  "Add Helm repository {{ __helm_repository }}"
  shell:                 "helm repo add {{ __helm_repository_local_name }} {{ __helm_repository }} --username {{ __helm_repo_username }} --password {{ __helm_repo_password }} --pass-credentials"
  when:
    - helm_repo_already_added.rc != 0
  become_user:           "{{ __sudo_user }}"

- name:                  "Update Helm repos"
  shell:                 "helm repo update"
  become_user:           "{{ __sudo_user }}"

- name:                  "Write helm repo chart versions to a file"
  shell:                 "helm search repo {{ __helm_repository_local_name }} {{ __helm_repo_flag }} | awk {'print $1 \":\" $2'} >> {{ __ansible_cache_charts }}/helm_repo_version_list"
  become_user:           "{{ __sudo_user }}"
