---
- name:                        Delete secret '{{ __apisix_secrets_name }}' if it exists
  ansible.builtin.shell: |
                               kubectl delete secret {{ __apisix_secrets_name }} -n {{ __apisix_namespace }}
  become_user:                 "{{ __sudo_user }}"
  register:                    apisix_secret_created_result
  ignore_errors:               true

- name:                         Create secrets for APISIX Admin and Dashboard
  ansible.builtin.shell: |
                                kubectl create secret generic {{ __apisix_secrets_name }} \
                                  --from-literal=admin-password="{{ __apisix_admin_password }}" \
                                  --from-literal=viewer-password="{{ __apisix_viewer_password }}" \
                                  -n "{{ __apisix_namespace }}"
  become_user:                  "{{ __sudo_user }}"

- name:                         Extract TLS from existing secret '{{ __ingress_nginx_secret_name }}'
  ansible.builtin.shell: |
                                kubectl get secret {{ __ingress_nginx_secret_name }} -n {{ __default_namespace }} -o jsonpath="{.data.tls\.crt}" | base64 -d > apisix-ingress-tls.crt
  args:
    chdir:                      "/tmp" # Store temporary files in /tmp
  become_user:                  "{{ __sudo_user }}"

- name:                         Extract server key from existing secret
  ansible.builtin.shell: |
                                kubectl get secret {{ __ingress_nginx_secret_name }} -n {{ __default_namespace }} -o jsonpath="{.data.tls\.key}" | base64 -d > apisix-ingress-tls.key
  args:
    chdir:                      "/tmp" # Store temporary files in /tmp
  become_user:                  "{{ __sudo_user }}"

- name:                         Create or update the TLS secret in APISIX namespace
  ansible.builtin.shell: |
                                kubectl create secret tls {{ __ingress_nginx_secret_name }} \
                                  --cert=/tmp/apisix-ingress-tls.crt \
                                  --key=/tmp/apisix-ingress-tls.key \
                                  -n {{ __apisix_namespace }} --dry-run=client -o yaml | kubectl apply -f -
  become_user:                  "{{ __sudo_user }}"

- name:                         Clean up temporary TLS files
  ansible.builtin.file:
    path:                       "{{ item }}"
    state:                      absent
  loop:
    - "/tmp/apisix-ingress-tls.crt"
    - "/tmp/apisix-ingress-tls.key"
  ignore_errors:                true
