import os.path

{% if jwt_expires_in_minutes is defined %}
AdminTask.setLTPATimeout('-timeout {{ jwt_expires_in_minutes }}')
AdminConfig.save()

{% else %}
filename='ltpatimeout.txt'

# Get WAS LTPA timeout value and save it to a file
if os.path.exists(filename):
  os.remove(filename)

timeout=AdminTask.getLTPATimeout()
my_file = open(filename,'w')
my_file.write(timeout)
my_file.close()

{% endif %}
