# Find more configuration options in the example ansible.cfg on https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
[defaults]
# default user to use for playbooks if user is not specified
# # (/usr/bin/ansible will use current user as default)
# #remote_user = root
