[defaults]
inventory=./inventory
#callback_whitelist=ansible.posix.profile_tasks
interpreter_python = auto_silent
timeout = 60
gather_timeout = 60
#host_key_checking = False
#[persistent_connection ]
#command_timeout = 60
