batchMode=1
execfile('esSecurityAdmin.py') 
enableSslForMetrics('{{ __es_certs_dir }}/es_certs/elasticsearch-metrics.p12', '{{ __es_ca_password }}', '{{ __es_certs_dir }}/es_certs/chain-ca.pem', '{{ __elasticsearch_default_port  }}')
