- name:                  "Verify if migrations are already done"
  stat:
    path:                "{{ __success_file }}"
  register:              migrations_already_done

- name:                  Clean up installation folder(s)
  file:
    path:                "{{ __db_extraction_folder }}"
    state:               absent
  when:
    - (not migrations_already_done.stat.exists) or (__cnx_force_repopulation |bool )

- name:                  Create installation folder
  file:
    path:                "{{ __db_extraction_folder }}"
    state:               directory
  when:
    - (not migrations_already_done.stat.exists) or (__cnx_force_repopulation |bool )


- name:                  Download and unzip installation "{{ __download_location}}/{{ __package_name }}" to the {{ __db_extraction_folder }}
  unarchive:
    src:                 "{{ __download_location }}/{{ __package_name }}"
    dest:                "{{ __db_extraction_folder }}"
    remote_src:          yes
  when:
    - (not migrations_already_done.stat.exists) or (__cnx_force_repopulation |bool) or (__db_enable_upgrades |bool)
  retries:               3

- name:                  Stop CNX cluster for database cleanup
  include_role:
    name:                roles/third_party/ibm/wasnd/was-dmgr-stop-cluster
    apply:
      delegate_to:       "{{ dmgr_hostname }}"
      become:            true
      ignore_errors:     yes
  when:                  __cnx_force_repopulation |bool

# Observed lingering connections even after CNX is stopped so do a force application.
- name:                  Force application to disconnect for database cleanup
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
  vars:
    db_command:           "db2 force application all"
  when:
    - __cnx_force_repopulation |bool
  ignore_errors:         yes

- name:                  Drop Connections Databases
  include_tasks:
    file:                ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
    apply:
      ignore_errors:     yes
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/activities/db2/dropDb.sql"
   - "connections.sql/blogs/db2/dropDb.sql"
   - "connections.sql/dogear/db2/dropDb.sql"
   - "connections.sql/communities/db2/dropDb.sql"
   - "connections.sql/files/db2/dropDb.sql"
   - "connections.sql/forum/db2/dropDb.sql"
   - "connections.sql/homepage/db2/dropDb.sql"
   - "connections.sql/metrics/db2/dropDb.sql"
   - "connections.sql/mobile/db2/dropDb.sql"
   - "connections.sql/profiles/db2/dropDb.sql"
   - "connections.sql/pushnotification/db2/dropDb.sql"
   - "connections.sql/wikis/db2/dropDb.sql"
  when:
    - __cnx_force_repopulation |bool
  ignore_errors:         yes


- name:                  Drop IC360 database
  include_tasks:
    file:                ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
    apply:
      ignore_errors:     yes
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/ic360/db2/dropDb.sql"
  when:
    - __cnx_force_repopulation |bool
    - __db_version is version('7.0', '>=')
  ignore_errors:         yes

- name:                  Drop ICEC database only
  include_tasks:
    file:                ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
    apply:
      ignore_errors:     yes
  vars:
    db_command:          "{{ __db2_icec_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/icec/db2/dropDb.sql"
  when:
    - __cnx_force_repopulation |bool
  ignore_errors:         yes

- name:                  "Delete {{ __success_file }} file"
  file:
    path:                "{{ item }}"
    state:               absent
  with_items:
    - "{{ __success_file }}"
    - "{{ __ic360_success_file }}"
    - "{{ __sharepoint_success_file }}"
  when:
    - __cnx_force_repopulation |bool

- name:                  "Verify if should proceed with creating databases if cleanup was done"
  stat:
    path:                "{{ __success_file }}"
  register:              migrations_already_done

- name:                  Creating Connections databases (except ICEC)
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
  register:              all_migrations_result
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/activities/db2/createDb.sql"
   - "connections.sql/activities/db2/appGrants.sql"
   - "connections.sql/blogs/db2/createDb.sql"
   - "connections.sql/blogs/db2/appGrants.sql"
   - "connections.sql/dogear/db2/createDb.sql"
   - "connections.sql/dogear/db2/appGrants.sql"
   - "connections.sql/communities/db2/createDb.sql"
   - "connections.sql/communities/db2/appGrants.sql"
   - "connections.sql/communities/db2/calendar-createDb.sql"
   - "connections.sql/communities/db2/calendar-appGrants.sql"
   - "connections.sql/files/db2/createDb.sql"
   - "connections.sql/files/db2/appGrants.sql"
   - "connections.sql/forum/db2/createDb.sql"
   - "connections.sql/forum/db2/appGrants.sql"
   - "connections.sql/homepage/db2/createDb.sql"
   - "connections.sql/homepage/db2/appGrants.sql"
   - "connections.sql/homepage/db2/initData.sql"
   - "connections.sql/homepage/db2/reorg.sql"
   - "connections.sql/homepage/db2/updateStats.sql"
   - "connections.sql/metrics/db2/createDb.sql"
   - "connections.sql/metrics/db2/appGrants.sql"
   - "connections.sql/mobile/db2/createDb.sql"
   - "connections.sql/mobile/db2/appGrants.sql"
   - "connections.sql/profiles/db2/createDb.sql"
   - "connections.sql/profiles/db2/appGrants.sql"
   - "connections.sql/pushnotification/db2/createDb.sql"
   - "connections.sql/pushnotification/db2/appGrants.sql"
   - "connections.sql/wikis/db2/createDb.sql"
   - "connections.sql/wikis/db2/appGrants.sql"
  when:
    - not migrations_already_done.stat.exists

- name:                  "Verify if Sharepoint migration has already run"
  stat:
    path:                "{{ __sharepoint_success_file }}"
  register:              sharepoint_migrations_already_done

- name:                  Run Sharepoint migration for Connections 7
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yaml
  register:              sharepoint_migration_result
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/homepage/db2/upgrade-60CR4-70.sql"
  when:
    - not sharepoint_migrations_already_done.stat.exists
    - __db_version == '7.0'
    - __db_enable_upgrades |bool

- name:                  Run Profiles migration for Connections 8
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/profiles/db2/upgrade-60-80.sql"
  when:
    - migrations_already_done.stat.exists
    - __db_version == '8.0'
    - __db_enable_upgrades |bool

- name:                  "Verify if IC360 DB is already created"
  stat:
    path:                "{{ __ic360_success_file }}"
  register:              ic360_migrations_already_done

- name:                  Creating Connections database for IC360
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
  register:              ic360_migration_result
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/ic360/db2/createDb.sql"
   - "connections.sql/ic360/db2/appGrants.sql"
  when:
    - not ic360_migrations_already_done.stat.exists
    - __db_version is version('7.0', '>=')

- name:                  Creating Connections database for ICEC
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
  vars:
    db_command:          "{{ __db2_icec_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/icec/db2/createDb.sql"
   - "connections.sql/icec/db2/appGrants.sql"
  when:
    - not migrations_already_done.stat.exists

- name:                  Run runstats.sql and reorg.sql everywhere
  include_tasks:         ../../../third_party/ibm/db2-install/tasks/run_db_command.yml
  vars:
    db_command:          "{{ __db2_migration_cmd }} {{ __installation_folder }}/{{ item }}"
  with_items:
   - "connections.sql/activities/db2/runstats.sql"
   - "connections.sql/blogs/db2/runstats.sql"
   - "connections.sql/dogear/db2/runstats.sql"
   - "connections.sql/communities/db2/runstats.sql"
   - "connections.sql/forum/db2/runstats.sql"
   - "connections.sql/mobile/db2/runstats.sql"
   - "connections.sql/profiles/db2/runstats.sql"
   - "connections.sql/activities/db2/reorg.sql"
   - "connections.sql/blogs/db2/reorg.sql"
   - "connections.sql/dogear/db2/reorg.sql"
   - "connections.sql/communities/db2/reorg.sql"
   - "connections.sql/files/db2/reorg.sql"
   - "connections.sql/forum/db2/reorg.sql"
   - "connections.sql/homepage/db2/reorg.sql"
   - "connections.sql/metrics/db2/reorg.sql"
   - "connections.sql/mobile/db2/reorg.sql"
   - "connections.sql/profiles/db2/reorg.sql"
   - "connections.sql/pushnotification/db2/reorg.sql"
   - "connections.sql/wikis/db2/reorg.sql"
   - "connections.sql/activities/db2/clearScheduler.sql"
   - "connections.sql/communities/db2/clearScheduler.sql"
   - "connections.sql/forum/db2/clearScheduler.sql"
   - "connections.sql/files/db2/clearScheduler.sql"
   - "connections.sql/profiles/db2/clearScheduler.sql"
   - "connections.sql/homepage/db2/clearScheduler.sql"
   - "connections.sql/metrics/db2/clearScheduler.sql"
   - "connections.sql/wikis/db2/clearScheduler.sql"
   - "connections.sql/pushnotification/db2/clearScheduler.sql"
  when:
    - migrations_already_done.stat.exists |bool

- name:                  "Create {{ __success_file }} file"
  file:
    path:                "{{ __success_file }}"
    state:               touch
  when:
   - all_migrations_result is not skipped
   - not migrations_already_done.stat.exists

- name:                  "Create {{ __ic360_success_file }} file"
  file:
    path:                "{{ __ic360_success_file }}"
    state:               touch
  when:
   - ic360_migration_result is not skipped
   - not ic360_migrations_already_done.stat.exists

- name:                  "Create {{ __sharepoint_success_file }} file"
  file:
    path:                "{{ __sharepoint_success_file }}"
    state:               touch
  when:
   - sharepoint_migration_result is not skipped
   - not sharepoint_migrations_already_done.stat.exists

- name:                  Clean up installation folder(s)
  file:
    path:                "{{ __db_extraction_folder }}"
    state:               absent
  when:
    - (not migrations_already_done.stat.exists) or (__cnx_force_repopulation |bool )
    
