---
- name:                    Remove the existing updateInstaller zip and extracted folder
  file:                    path={{ item }} state=absent
  with_items:
    - "{{ __tmp_dir }}/cnx-ifix/{{ __cnx_ifix_installer }}"
    - "{{ __cnx_install_location }}/updateInstaller"

- name:                    Create a new updateInstaller directory
  file:                    path={{ item }} state=directory mode=0755
  with_items:
    - "{{ __cnx_install_location }}/updateInstaller/fixes"
    - "{{ __tmp_dir }}/cnx-ifix/"

- name:                    Download the updateInstaller from {{ cnx_repository_url }}/{{ __cnx_ifix_installer }}
  get_url:
    url:                   "{{ cnx_repository_url }}/{{ __cnx_ifix_installer }}"
    dest:                  "{{ __tmp_dir }}/cnx-ifix/{{ __cnx_ifix_installer }}"
    mode:                  0755
    validate_certs:        false

- name:                    Extract the updateInstaller
  unarchive:
    src:                   "{{ __tmp_dir }}/cnx-ifix/{{ __cnx_ifix_installer }}"
    dest:                  "{{ __cnx_install_location }}/updateInstaller"
    copy:                  no
    validate_certs:        false
  register:                download_and_unpack_connections_upgradeinstaller
  until:                   download_and_unpack_connections_upgradeinstaller is succeeded
  retries: 3

- name:                    Copy updateInstaller content to {{ __cnx_install_location }}/updateInstaller
  copy:
    src:                   "{{ __cnx_install_location }}/updateInstaller/HCL_Connections_Install/tools/updateInstaller/"
    dest:                  "{{ __cnx_install_location }}/updateInstaller/"
    remote_src:            yes

- name:                    Delete "{{ __cnx_install_location }}/updateInstaller/HCL_Connections_Install/tools/updateInstaller/"
  file:
    state:                 absent
    path:                  "{{ __cnx_install_location }}/updateInstaller/HCL_Connections_Install/tools/updateInstaller/"

- name:                    Add +x to updateInstaller
  file:
    dest:                  "{{ __cnx_install_location }}/updateInstaller/updateSilent.sh"
    mode:                  "740"

- name:                    Download the iFixes {{ ifix_file }}
  get_url:
    url:                   "{{ cnx_repository_url }}/{{ ifix_file }}"
    dest:                  "{{ __cnx_install_location }}/updateInstaller/fixes"
    mode:                  0755
    validate_certs:        false
