onPrem: {{ __ce_on_prem }}
ic:
  host: {{ __frontend_fqdn }}
  internal: {{ __ic_internal }}
  interserviceOpengraphPort: 443
  interserviceConnectionsPort: 443
  interserviceScheme: https
integrations:
  msgraph:
    client:
      id: 'changeme'
      secret: 'changeme'
    redirect:
      uri: 'changeme'
    secret:
      name: 'changeme'
  msteams:
    auth:
      schema: {{ __msteams_auth_schema }}
    client:
      id: {{ __msteams_client_id }}
      secret: {{ __msteams_client_secret }}
    enabled: {{ __setup_teams }}
    redirect:
      uri: 'changeme'
    tenant:
      id: {{ __msteams_tenant_id }}

createSecret: false
replicaCount: {{ __replica_count }}
namespace: {{ __default_namespace }}
