clusterName:                {{ __opensearch_cluster_name }}
nodeGroup:                  "client"
masterService:              "{{ __opensearch_cluster_name }}-master"

roles:
  - remote_cluster_client

imageTag:                   "{{ __opensearch_version }}"

replicas:                   {{ __opensearch_replica_count }}
