image:
  repository:               {{ __docker_registry_url }}

clusterName:                {{ __opensearch_cluster_name }}
nodeGroup:                  "data"
masterService:              "{{ __opensearch_cluster_name }}-master"
pemkeyPass:                 {{ __opensearch_ca_password }}
imagePullSecrets:
  - name: {{ __credentials_name }}

roles:
  - ingest
  - data

resources:
  limits:
    cpu:                    "2"
    memory:                 "4096Mi"
  requests:
    cpu:                    "0.5"
    memory:                 "3072Mi"

replicas:                   {{ __opensearch_replica_count }}
