opensearch-dashboards:
  username: kibanaserver
  password: kibanaserver
  keypassphrase: password
opensearch-logstash :
  keystorePassword: "password"
openseach-kibana :
  keyPassphrase: "password"

namespace: {{ __default_namespace }}
