image:
  repository:               {{ __docker_registry_url }}

clusterName:                {{ __opensearch_cluster_name }}
nodeGroup:                  "master"
masterService:              "{{ __opensearch_cluster_name }}-master"
pemkeyPass:                 {{ __opensearch_ca_password }}
imagePullSecrets:
  - name: {{ __credentials_name }}

roles:
  - master

service:
  labels:                   {}
  labelsHeadless:           {}
  type:                     NodePort
  nodePort:                 {{ __opensearch_default_port }}
  nodePortTransport:        ""

createSecret:               false

resources:
  limits:
    cpu:                    "1"
    memory:                 "1024Mi"
  requests:
    cpu:                    "0.1"
    memory:                 "768Mi"

replicas:                   {{ __opensearch_replica_count }}
