global:
  onPrem: true
  image:
    repository: {{ __docker_registry_url }}

replicaCount: {{ __replica_count }}

teams-share-ui:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}

teams-share-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
  ingress:
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
    enabled: true
    hosts:
{% if  __ingress_multi_domain_enabled == "true"  %}
    - host: "*.{{ load_balancer_dns.split('.', 1)[1] }}"
      paths: []
{% if  load_balancer_dns != frontend_fqdn %}
    - host: "*.{{ frontend_fqdn.split('.', 1)[1] }}"
      paths: []
{% endif %}
{% else %}
    - host: "{{ cnx_application_ingress }}"
      paths: []
{% endif %}
    name: cnx-ingress-msteams
    tls: []

teams-tab-api:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}

teams-tab-ui:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
