---
- name: cnx_repository_url should be defined
  assert:
    that:
    - cnx_repository_url|length > 0
    msg: "Set the value of 'cnx_repository_url' in the inventory file."

- name: dmgr_hostname should be defined
  assert:
    that:
    - dmgr_hostname|length > 0
    msg: "Set the value of 'dmgr_hostname' in the inventory file."

- name: was_username should be defined
  assert:
    that:
    - was_username|length > 0
    msg: "Set the value of 'was_username' in the inventory file."

- name: was_password should be defined
  assert:
    that:
    - was_password|length > 0
    msg: "Set the value of 'was_password' in the inventory file."

- name: was_domainname should be defined
  assert:
    that:
    - was_domainname|length > 0
    msg: "Set the value of 'was_domainname' in the inventory file."

- name: cnx_domainname should be defined
  assert:
    that:
    - cnx_domainname|length > 0
    msg: "Set the value of 'cnx_domainname' in the inventory file."

- name: smtp_hostname should be defined
  assert:
    that:
    - smtp_hostname|length > 0
    msg: "Set the value of 'smtp_hostname' in the inventory file."

- name: cnx_webserver should be defined
  assert:
    that:
    - cnx_webserver|length > 0
    msg: "Set the value of 'cnx_webserver' in the inventory file."

- name: cnx_application_ingress should be defined
  assert:
    that:
    - cnx_application_ingress|length > 0
    msg: "Set the value of 'cnx_application_ingress' in the inventory file. This is dynamicHost value."

- name: connections_admin should be defined
  assert:
    that:
    - connections_admin|length > 0
    msg: "Set the value of 'connections_admin' in the inventory file."
