---
- name:          Check Vars
  include_tasks: check_vars.yml

- name:          Setup Operating System
  include_tasks: setup_os.yml

- name:          Define Vars
  include_tasks: define_vars.yml

- name:          Create NFS shares
  include_tasks: create_nfs_shares.yml

- name:          Download and Extract Connections Files
  include_tasks: download_extract_connections.yml
  when:
   - (version_already_installed.rc != 0) or (cnx_updates_enabled |bool)

- name:          Install HCL Connections
  include_tasks: install_connections.yml
  when:
   - (version_already_installed.rc != 0) or (cnx_updates_enabled |bool)

- name:          Update WAS resources
  include_tasks: update_was_resource.yml

- name:          Enable Prometheus JMX exporter
  include_tasks: enable_prometheus_jmx_exporter.yml
  when:          __enable_prometheus_jmx_exporter

- name:          Clean CNX temp folder (if upgrade)
  include_tasks: clean_was_temp.yml
  when:
   - cnx_updates_enabled |bool
   - inventory_hostname in groups["was_servers"]
