- name:               Verify if Docs Editor Proxy is already installed
  stat:
    path:             "{{ __editor_proxy_install_success_file }}"
  register:           editor_proxy_already_installed

- name:               Run the IHS Plugins updates script bundled in the Docs Editor Proxy installer
  shell:
    chdir:            "{{ __extraction_folder }}/{{ __proxy_install_folder }}/installer"
    cmd:              "./update_webserver.sh -wasadminID {{ was_username }} -wasadminPW {{ was_password }} -acceptLicense"
  become:             true
  when:
    - editor_proxy_already_installed.stat.exists |bool

- name:                 Create temporary folder
  file:
    path:               "/tmp/wct_generated_plugins_docs_{{  hostvars[item]['inventory_hostname_short'] }}"
    state:              directory
  delegate_to:          "{{ groups['dmgr'][0] }}"
  with_items:           "{{ groups['ihs_servers'] }}"

- name:                 Copy each plugin-cfg.xml to their corresponding IHS server
  copy:
    src:                "{{ __was_install_location }}/profiles/{{ __dmgr_profile_name }}/config/cells/ConnectionsCell/nodes/{{ hostvars[item]['inventory_hostname_short'] }}-node/servers/{{  hostvars[item]['inventory_hostname_short'] }}/plugin-cfg.xml"
    dest:               "/tmp/wct_generated_plugins_docs_{{  hostvars[item]['inventory_hostname_short'] }}/"
    remote_src:         yes
  delegate_to:          "{{ groups['dmgr'][0] }}"
  with_items:           "{{ groups['ihs_servers'] }}"
