---
# Mandatory changes!

cnx_component_pack_ingress:                      "web.internal.example.com"
cnx_application_ingress:                         "connections.example.com"

# Usernames and password for eventual customization. Shown here are default usernames and password. Change it to customize it

was_username:                                    wasadmin
was_password:                                    password

ldap_userid:                                     "fakeuser"
ldap_nr_of_users:                                100
ldap_user_password:                              "password"
ldap_user_admin_password:                        "password"

ihs_username:                                    ihsadmin
ihs_password:                                    password

connections_admin:                               fakeuser1

db_password:                                     password
db_concord_password:                             password

docs_username:                                   docsuser
docs_password:                                   password
sudo_group:                                      wheel

# Non-mandatory changes

# Type of HCL Connections deployment: small (default), medium and large.
#cnx_deploy_type:                                small
ldap_user_mail_domain:                           "connections.example.com"

db2_download_location:                           http://{{ groups['installer'][0] }}:8001/DB2
tdi_download_location:                           http://{{ groups['installer'][0] }}:8001/TDI
connections_wizards_download_location:           http://{{ groups['installer'][0] }}:8001/Connections6.5
iim_repository_url:                              http://{{ groups['installer'][0] }}:8001/was855
was_repository_url:                              http://{{ groups['installer'][0] }}:8001/was855
was_fixes_repository_url:                        http://{{ groups['installer'][0] }}:8001/was855FP16
ihs_repository_url:                              http://{{ groups['installer'][0] }}:8001/was855
ihs_fixes_repository_url:                        http://{{ groups['installer'][0] }}:8001/was855FP16
cnx_docs_download_location:                      http://{{ groups['installer'][0] }}:8001/Docs
cnx_repository_url:                              http://{{ groups['installer'][0] }}:8001/Connections6.5
cnx_fixes_repository_url:                        http://{{ groups['installer'][0] }}:8001/Connections6.5CR1
cnx_db_updates_url:                              http://{{ groups['installer'][0] }}:8001/cnx65_dbupdates
component_pack_download_location:                http://{{ groups['installer'][0] }}:8001/cp

# Falling back to the defaults for Connections 6.5.0.1

iim_bin_file:                                    "agent.installer.linux.gtk.x86_64_1.9.1003.20200730_2125.zip"
iim_version:                                     "1.9.1003.20200730_2125"

# The next two variables are fixing IBM Java version to one distributed with FP 16
java_version:                                    "8.0.5017.20180726_2118"
java_files:                                      { 'file_name': '8.0.5.17-WS-IBMWASJAVA-Linux.zip' }

# The variables below are specifying the specific version of FP16 and files needed
# to install it. Those files live in the repositories mentioned above.
was_fp_version:                                  "8.5.5016.20190801_0951"
was_fp_files:
  - { file_name: 8.5.5-WS-WASSupplements-FP016-part1.zip }
  - { file_name: 8.5.5-WS-WASSupplements-FP016-part2.zip }
  - { file_name: 8.5.5-WS-WASSupplements-FP016-part3.zip }

ihs_version:                                     "8.5.5016.20190801_0951"
ihs_fp_files:
  - { file_name: 8.5.5-WS-WASSupplements-FP016-part1.zip }
  - { file_name: 8.5.5-WS-WASSupplements-FP016-part2.zip }
  - { file_name: 8.5.5-WS-WASSupplements-FP016-part3.zip }

cnx_package:                                     "HCL_Connections_6.5_lin.tar"
connections_wizards_package_name:                "HCL_Connections_6.5_wizards_lin_aix.tar"
cnx_major_version:                               "6"
cnx_fixes_version:                               "6.5.0.0_CR1"
cnx_fixes_files:
  - { file_name: "HC6.5_CR1.zip" }
db_version:                                      "6.5"
cnx_db_update_file:                              "65cr1-database-updates.zip"
elasticsearch_default_version:                   "5"

# Use SDI JRE8
upgrade_tdi_jre:                                 true
tdi_sol_location:                                http://{{ groups['installer'][0] }}:8001/Connections6.5/tdisol_65CR1_java8.tar

# Globals

cnx_updates_enabled:                             True

dmgr_hostname:                                   "{{ hostvars[groups['dmgr'][0]]['inventory_hostname'] }}"

smtp_hostname:                                   localhost

connections_admin_password:                      "{{ ldap_user_admin_password }}"

db_username:                                     LCUSER
db_concord_username:                             docsuser
db_hostname:                                     "{{ hostvars[groups['db_servers'][0]]['inventory_hostname'] }}"
db_port:                                         50000
#db_jdbc_file:                                    /opt/IBM/db2/V11.1/java
db_type:                                         DB2
setup_db2_jdbc:                                  True

cnx_force_repopulation:                          false

cnx_enable_moderation:                           true
cnx_enable_invite:                               true

enable_prometheus_jmx_exporter:                  True

kubernetes_version:                              1.17.2
helm_version:                                    2.16.3

setup_docker_registry:                           true
component_pack_package_name:                     hybridcloud_6501.zip

enable_pod_auto_scaling:                         false

#setup_installation:                              false
#setup_images:                                    false
#setup_credentials:                               false
#setup_psp:                                       false
#setup_connections_volumes:                       false
#setup_bootstrap:                                 false
#setup_connections_env:                           false
#setup_infrastructure:                            false
#setup_customizer:                                false
setup_elasticsearch:                             true
setup_elasticsearch7:                            false
setup_ingress:                                   true
setup_community_ingress:                         false
setup_teams:                                     false
setup_tailored_exp:                              false
#setup_orientme:                                  false
setup_elasticstack:                              false
#setup_sanity:                                    false
setup_kudosboards:                               false
setup_outlook_addin:                             false
#enable_es_metrics:                               false
enable_gk_flags:                                 false
setup_ms_teams_extensions:                       false
#skip_configure_redis:                            True

elasticsearch_default_port:                      30099

docker_registry_url:                             "{{ hostvars[groups['docker_registry'][0]]['inventory_hostname'] }}:5000"
load_balancer_dns:                               "{{ hostvars[groups['k8s_load_balancers'][0]]['inventory_hostname'] }}"
ic_internal:                                     "{{ hostvars[groups['ihs_servers'][0]]['inventory_hostname'] }}"
frontend_fqdn:                                   "{{ cnx_application_ingress }}"
frontend_domain:                                 "{{ cnx_application_ingress.split('.')[1:] | join('.') }}"
db_server:                                       "{{ db_hostname }}"
db_server_user:                                  "{{ db_username }}"
db_server_password:                              "{{ db_password }}"

setup_connections_docs:                          true

nfs_export_netmask:                              255.0.0.0

docs_shared_storage_type:                        nfs
docs_data_remote_path:                           /nfs/docs_data
docs_data_local_path:                            /mnt/docs_data

viewer_shared_storage_type:                      nfs
viewer_data_remote_path:                         /nfs/viewer_data
viewer_data_local_path:                          /mnt/viewer_data

cnx_shared_storage_type:                         nfs
cnx_data_remote_path:                            /nfs/data/shared
cnx_data_local_path:                             /mnt/cnx_data

cnx_data_path_on_cnx_server:                     /opt/IBM/SharedArea

docs_url:                                        "{{ cnx_application_ingress }}"

force_destroy_kubernetes:                        true
force_destroy_db2:                               True
force_destroy_ihs:                               True
force_destroy_websphere:                         True
