global:
  onPrem: true
  image:
    repository: {{ __docker_registry_url }}/connections

multiDomainEnabled: {{ __ingress_multi_domain_enabled  }}
ingress:
  hosts:
    host: {{ cnx_application_ingress }}
    domain: {{ hostvars[inventory_hostname]['ansible_domain'] }}
    publicdomain: {{ frontend_domain }}

controller:
  service:
    type: ClusterIP

setIngressOnly: false

replicaCount: {{ __replica_count }}

namespace: {{ __default_namespace }}
