global:
  onPrem: true
  image:
    repository: {{ __docker_registry_url }}/connections
haproxy:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
redis:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
redis-sentinel:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
mongodb:
  namespace: {{ __default_namespace }}
  createSecret: false
  replicaCount: {{ __replica_count }}
appregistry-client:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
appregistry-service:
  namespace: {{ __default_namespace }}
  deploymentType: hybrid_cloud
  replicaCount: {{ __replica_count }}

replicaCount: {{ __replica_count }}

