global:
  onPrem: true
  image: 
    repository: {{ __docker_registry_url }}/connections
itm-services:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
community-suggestions:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
mail-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
middleware-graphql:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
orient-analysis-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
orient-web-client:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
  service:
    nodePort: 32200
orient-indexing-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
  indexing:
    solr: false
    elasticsearch: {{ __setup_elasticsearch }}
    elasticsearch7: {{ __setup_elasticsearch7 }}
orient-retrieval-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
  retrieval:
    elasticsearch: {{ __setup_elasticsearch }}
    elasticsearch7: {{ __setup_elasticsearch7 }}
people-datamigration:
  namespace: {{ __default_namespace }}
  replicaCount: 1
  migrate:
    maxConcurrentUser: {{ __om_max_conc_users }}
people-idmapping:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
people-relationship:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
people-scoring:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
userprefs-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}

deploymentType: hybrid_cloud
replicaCount: {{ __replica_count }}
