global:
  onPrem: true
  image: 
    repository: {{ __docker_registry_url }}/connections
orient-web-client:
  service:
    nodePort: 32200
orient-indexing-service:
  indexing:
    solr: false
    elasticsearch: {{ __setup_elasticsearch }}
    elasticsearch7: {{ __setup_elasticsearch7 }}
orient-retrieval-service:
  retrieval:
    elasticsearch: {{ __setup_elasticsearch }}
    elasticsearch7: {{ __setup_elasticsearch7 }}
people-datamigration:
  migrate:
    maxConcurrentUser: {{ __om_max_conc_users }}
deploymentType: hybrid_cloud
replicaCount: {{ __replica_count }}
