global:
  onPrem: true
  image:
    repository: {{ __docker_registry_url }}/connections

replicaCount: {{ __replica_count }}

te-creation-wizard:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}

community-template-service:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}

admin-portal:
  namespace: {{ __default_namespace }}
  replicaCount: {{ __replica_count }}
