---
__cnx_major_version:            "{{ cnx_major_version | default('7') }}"
__setup_teams:                  "{{ hostvars[groups['component_pack_master'][0]]['setup_teams'] | default(true)|bool }}"
__setup_kudosboards:            "{{ hostvars[groups['component_pack_master'][0]]['setup_kudosboards'] | default(true)|bool }}"

__was_install_location:         "{{ was_install_location  | default('/opt/IBM/WebSphere/AppServer') }}"
__profile_name:                 "{{ profile_name | default('Dmgr01') }}"
__was_cellname:                 "{{ was_cellname | default('ConnectionsCell') }}"
__bin_dir:                      "{{ __was_install_location }}/profiles/{{ __profile_name }}/bin"
__was_username:                 "{{ was_username }}"
__was_password:                 "{{ was_password }}"

__sudo_user:                    "{{ kubectl_user | default( ansible_env['SUDO_USER'] ) }}"
__default_namespace:            "{{ default_namespace | default('connections') }}"

__lcc_namespaces:
    xmlns="http://www.ibm.com/LotusConnections-config"
    xsi="http://www.w3.org/2001/XMLSchema-instance"
    sloc="http://www.ibm.com/service-location"
    tns="http://www.ibm.com/LotusConnections-config"
__lcc_full_path:                "{{ __was_install_location }}/profiles/{{ __profile_name }}/config/cells/{{ __was_cellname }}/LotusConnections-config/LotusConnections-config.xml"

# OrientMe
__lcc_orientme_serviceRef:      |
  <sloc:serviceReference serviceName="orient"
    enabled="true"
    ssl_enabled="true"
    bootstrapHost="{{ ic_internal }}"
    bootstrapPort="admin_replace"
    clusterName="">
    <sloc:href>
        <sloc:hrefPathPrefix>/social</sloc:hrefPathPrefix>
        <sloc:static href="http://{{ ic_internal }}" ssl_href="https://{{ ic_internal }}" />
        <sloc:interService href="https://{{ ic_internal }}" />
    </sloc:href>
  </sloc:serviceReference>

__lcc_action_center_xpath:             "/tns:config/tns:properties/tns:genericProperty[@name=\"actioncenter\"]"
__lcc_genprop_default_ome_xpath:       "/tns:config/tns:properties/tns:genericProperty[@name = 'com.ibm.orient.isOrientHomepage']"
__lcc_genprop_default_hpswitch_xpath:  "/tns:config/tns:properties/tns:genericProperty[@name = 'com.ibm.orient.isHomepageSwitcherEnabled']"


# appreg
__lcc_version_xpath: "/tns:config/tns:properties"
__lcc_sloc_service_extRegistry_xpath: "/tns:config/sloc:serviceReference[@serviceName='extensionRegistry']"
__success_file: "{{ __bin_dir }}/add-children-properties-lcc-nodes.success"


# QuickResults Solr
__searchcfg_full_path:       "{{ __was_install_location }}/profiles/{{ __profile_name }}/config/cells/{{ __was_cellname }}/LotusConnections-config/search-config.xml"
__searchcfg_namespaces:
  xmlns="http://www.ibm.com/LotusConnectionsSearch"
  tns="http://www.ibm.com/LotusConnectionsSearch"
  xsi="http://www.w3.org/2001/XMLSchema-instance"
__searchcfg_qr_solr_xpath:   "/tns:config/tns:propertySettings/tns:property[@name=\"quickResults\"]/tns:propertyField[@name=\"quick.results.solr.indexing.enabled\"]"
__searchcfg_queries_solr_xpath: "/tns:config/tns:propertySettings/tns:property[@name=\"quickResults\"]/tns:propertyField[@name=\"quick.results.use.solr.for.queries\"]"

# QuickResults
__enable_qr:                 "{{ enable_qr | default(true) }}"
__lcc_qr_xpath:              "/tns:config/tns:properties/tns:genericProperty[@name=\"quickResultsEnabled\"]"

# ElasticSearch
__enable_major_es7:          "{{ enable_major_es7 | default(true) }}"
__enable_es7_r_and_w:        "{{ enable_es7_r_and_w | default(true) }}"
__searchcfg_es_index_xpath:  "/tns:config/tns:propertySettings/tns:property[@name=\"quickResults\"]/tns:propertyField[@name=\"quick.results.elasticsearch.indexing.enabled\"]"
__searchcfg_es_write_xpath:  "/tns:config/tns:propertySettings/tns:property[@name=\"quickResults\"]/tns:propertyField[@name=\"quick.results.elasticsearch7.writing.enabled\"]"
__searchcfg_es_read_xpath:   "/tns:config/tns:propertySettings/tns:property[@name=\"quickResults\"]/tns:propertyField[@name=\"quick.results.elasticsearch7.reading.enabled\"]"
__lcc_es_version_xpath:      "/tns:config/tns:properties/tns:genericProperty[@name=\"elasticsearch.eSmajorVersion\"]"
__lcc_es_version:            "7"

# ConnectionProvider
__connprovider_full_path:    "{{ __was_install_location }}/profiles/{{ __profile_name }}/config/cells/{{ __was_cellname }}/oauth20/connectionsProvider.xml"
__oauth20_autoauth_xpath:    "/OAuthServiceConfiguration/parameter[@name=\"oauth20.autoauthorize.clients\" and @type=\"ws\" and  @customizable=\"true\"]"
__oauth20_autoauth_template: "oauthprovider.j2"
__oauth20_destination:       "{{ __dmgr_bin_dir }}/register_oauth20kudosboards"

__dmgr_bin_dir:              "{{ __was_install_location }}/profiles/{{ __profile_name }}/bin"
__dmgr_soap_port:            "{{ dmgr_soap_port | default(8879) }}"

# JWT in configmap - LTPA timeout synch
__ltpa_tpl_file:             "get_set_was_ltpa_timeout.py.j2"
__ltpa_rsp_file:             "{{ __bin_dir }}/get_set_was_ltpa_timeout.py"
