batchMode=1
{% for node in groups.cnx_was_servers %}
{% for app in __jmx_clusters %}
AdminTask.setJVMProperties('[-nodeName {{ node.split('.')[0] }}-node -serverName {{ app.name }}-{{ node.split('.')[0] }} -genericJvmArguments "-Xgcpolicy:gencon  -javaagent:{{ __jmx_install_location }}/{{ __jmx_jar_name }}={{ app.port }}:{{ __cnx_prom_cfg_destination }}"]')
{% endfor %}
{% endfor %}
AdminConfig.save()
