# Register Docs in CNX News
execfile("newsAdmin.py")

allRegs=NewsActivityStreamService.listApplicationRegistrations()

if str(allRegs).find('=Docs') >= 0:
   NewsActivityStreamService.updateApplicationRegistrationForEmailDigest("IBMDocs", "true", "INDIVIDUAL", "false")
else:
   NewsActivityStreamService.registerApplication("IBMDocs", "Docs", "", "", "", "", "Docs", "true")  
   NewsActivityStreamService.updateApplicationRegistrationForEmailDigest("IBMDocs", "true", "INDIVIDUAL", "false")


# End of File
