--- 
- name:                      Check the vars
  include_tasks:             check_vars.yml

- name:                      Prepare Component Pack
  include_tasks:             setup_installation.yml
  when:                      __setup_installation |bool

- name:                      Setup images
  include_tasks:             setup_images.yml
  when:                      __setup_images |bool

- name:                      Configure credentials
  include_tasks:             configure_credentials.yml
  when:                      __setup_credentials |bool

- name:                      Setup PSP
  include_tasks:             setup_psp.yml
  when:                      __setup_psp |bool

- name:                      Setup Dashboards
  include_tasks:             setup_dashboards.yml
  when:                      __setup_dashboards |bool

- name:                      Setup connections-volumes
  include_tasks:             setup_connections_volumes.yml
  when:                      __setup_connections_volumes |bool

- name:                      Setup Bootstrap
  include_tasks:             setup_bootstrap.yml
  when:                      __setup_bootstrap |bool

- name:                      Setup connections-env
  include_tasks:             setup_connenv.yml
  when:                      __setup_connections_env |bool

- name:                      Setup infrastructure
  include_tasks:             setup_infrastructure.yml
  when:                      __setup_infrastructure |bool

- name:                      Setup customizer
  include_tasks:             setup_customizer.yml
  when:                      __setup_customizer |bool

- name:                      Setup elasticsearch
  include_tasks:             setup_elasticsearch.yml
  when:                      __setup_elasticsearch |bool

- name:                      Setup elasticsearch 7
  include_tasks:             setup_elasticsearch7.yml
  when:                      __setup_elasticsearch7 |bool

- name:                      Setup ingress controller
  include_tasks:             setup_ingress.yml
  when:                      __setup_ingress |bool

- name:                      Setup Community Ingress Controller
  include_tasks:             setup_community_ingress.yml
  when:                      __setup_community_ingress |bool

- name:                      Setup Teams
  include_tasks:             setup_teams.yml
  when:                      __setup_teams |bool

- name:                      Setup Tailored Experience
  include_tasks:             setup_tailored_exp.yml
  when:                      __setup_tailored_exp |bool

- name:                      Setup ELK
  include_tasks:             setup_elasticstack.yml
  when:                      __setup_elasticstack |bool

- name:                      Setup ELK-7 stack
  include_tasks:             setup_elasticstack7.yml
  when:                      __setup_elasticstack7 |bool

- name:                      Setup orientme
  include_tasks:             setup_orientme.yml
  when:                      __setup_orientme |bool

- name:                      Run profiles migration for OrientMe
  include_tasks:             orientme_profile_migration.yml
  when:
   - __setup_orientme |bool
   - not __skip_connections_integration

- name:                      Setup Sanity
  include_tasks:             setup_sanity.yml
  when:                      __setup_sanity |bool

- name:                      Setup Activities Plus
  include_tasks:             setup_kudosboards.yml
  when:
   - __setup_kudosboards |bool
   - not __skip_connections_integration

- name:                      Setup Outlook Desktop Plugin
  include_tasks:             setup_outlook_addin.yml
  when:                     
   - __setup_outlook_addin |bool
   - not __skip_connections_integration

- name:                      Scale to the number of nodes
  include_tasks:             scale_component_pack.yml
  when:                      __enable_pod_auto_scaling |bool

- name:                      Enable ES metrics
  include_tasks:             enable_es_metrics.yml
  when:
   - __enable_es_metrics |bool
   - not __skip_connections_integration

- name:                      Setup GK flags
  include_tasks:             setup_gk_flags.yml
  when: 
   - __enable_gk_flags |bool
   - not __skip_connections_integration

- name:                      Setup MS Teams Extensions
  include_tasks:             setup_ms_teams_extensions.yml
  when: 
   - __setup_ms_teams_extensions |bool
   - not __skip_connections_integration
