- name:                      Find elasticstack helm file
  find:
    paths:                   "{{ __helmbuilds_folder }}"
    patterns:                "elasticstack7*.tgz"
    file_type:               file
  register:                  elasticstack7_tgz

- name:                      "Render {{ __elasticstack7_env }}"
  template:
    src:                     "helmvars/elasticstack7.yml.j2"
    dest:                    "{{ __elasticstack7_env }}"
  become:                    false

- name:                      Setup elasticstack7
  command:                   "helm upgrade elasticstack-7 {{ elasticstack7_tgz.files[0].path }} -i -f {{ __elasticstack7_env }} --recreate-pods"
  become:                    false

- name:                      Wait for Kibana, Filebeat and Logstash to come up
  pause:
    seconds:                 60

- name:                      Check if logstash-7 is up and running
  shell:                     kubectl get pods -n {{ __default_namespace }} | grep -i logstash | grep -i Running
  changed_when:              true
  when:                      not __skip_pod_checks
  become:                    false

- name:                      Check if kibana-7 is up and running
  shell:                     kubectl get pods -n {{ __default_namespace }} | grep -i kibana | grep -i Running
  changed_when:              true
  when:                      not __skip_pod_checks
  become:                    false

- name:                      Check if filebeat-7 is up and running
  shell:                     kubectl get pods -n {{ __default_namespace }} | grep -i filebeat | grep -i Running
  changed_when:              true
  when:                      not __skip_pod_checks
  become:                    false

- name:                      Finding Kibana link
  debug:
    msg:                     "You can reach your Kibana instance here: https://{{ __frontend_fqdn }}/kibana7"
