- name:                      Check if customizer is already provisioned
  shell:                     helm ls | grep mw-proxy | grep DEPLOYED
  changed_when:              true
  register:                  customizer_completed
  become:                    false
  ignore_errors:             true

- name:                      Find mw-proxy helm file
  find:
    paths:                   "{{ __helmbuilds_folder }}"
    patterns:                "mw-proxy-*.tgz"
    file_type:               file
  register:                  customizer_tgz

- name:                      Found customizer file
  debug:
    msg:                     "{{ customizer_tgz.files[0].path }}"

- name:                      Create local mount point "{{ __customizer_js_files_mount }}"
  file: 
    path:                    "{{ __customizer_js_files_mount }}"
    state:                   directory
    mode:                    '0755'
  when:
    - customizer_completed.rc != 0

- name:                      Mount "{{ __customizer_js_files_dest }}" to "{{ __customizer_js_files_mount }}" first
  mount:
    fstype:                  nfs
    opts:                    defaults
    dump:                    0
    passno:                  0
    state:                   mounted
    src:                     "{{ __customizer_js_files_dest }}"
    path:                    "{{ __customizer_js_files_mount }}"
  when:
    - customizer_completed.rc != 0

- name:                      Copy *.js stuff for customizer to "{{ __customizer_js_files_mount }}"
  copy:
    src:                     "{{ item }}"
    dest:                    "{{ __customizer_js_files_mount }}"
    remote_src:              yes
  with_items:
   - "{{ __customizer_js_files }}/container.css"
   - "{{ __customizer_js_files }}/containerUtils.js"
   - "{{ __customizer_js_files }}/utils.js"

- name:                      Copy ms-teams stuff for customizer to "{{ __customizer_js_files_mount }}"
  copy:
    src:                     "{{ item }}"
    dest:                    "{{ __customizer_js_files_mount }}"
    remote_src:              yes
  with_items:
   - "{{ __support_folder }}/ms-teams"
  when:
   - __setup_teams == true

- name:                      Copy HelloWorld js for customizer to "{{ __customizer_js_files_mount }}"
  copy:
    src:                     "{{ __customizer_helloworld_js_files }}"
    dest:                    "{{ __customizer_helloworld_js_dest }}"

- name:                      "Render {{ __customizer_env }}"
  template:
    src:                     "helmvars/customizer.yml.j2"
    dest:                    "{{ __customizer_env }}"
  become:                    false

- name:                      Setup customizer
  command:                   "helm upgrade mw-proxy {{ customizer_tgz.files[0].path }} -i -f {{ __customizer_env }} --recreate-pods"
  become:                    false

- name:                      Give it some space...
  pause:
    seconds:                 30

- name:                      Check if customizer is up and running
  shell:                     kubectl get pods -n {{ __default_namespace }} | grep -i mw-proxy | grep -i Running
  when:                      __skip_pod_checks == false
  become:                    false
