- name:                      Add Community Helm Repo 
  shell:                     helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Check cluster flavor Vannila/EKS/Openshift
  shell:                     kubectl cluster-info | head -1
  register:                  cluster_flavor_check
  # grep will exit with 1 when no results found.
  # This causes the task not to halt play.
  become_user:               "{{ __sudo_user }}"

- debug: var=cluster_flavor_check
  run_once: true

- name:                      Check Helm Verion
  shell:                     helm version -s|awk -F "," '{print $1}'|awk -F ":" '{print $3}'|awk -F "." '{print $1}'|sed "s/\"//g"
  when:
   - ("api." not in cluster_flavor_check.stdout)
  changed_when:              true
  register:                  helm_version
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Check if cnx-ingress is already deployed helm-2
  shell:                     helm ls | grep cnx-ingress | grep -i DEPLOYED
  when:
   - helm_version.stdout == "v2"
  changed_when:              true
  register:                  cnx_ingress_already_provisioned_helm2
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Check if cnx-ingress is already deployed helm-3
  shell:                     helm ls --all-namespaces | grep cnx-ingress | grep -i DEPLOYED
  when:
   - helm_version.stdout != "v2"
  changed_when:              true
  register:                  cnx_ingress_already_provisioned_helm3
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Delete cnx-ingress if already exists helm-2
  shell:                     helm del --purge cnx-ingress
  when:
   - helm_version.stdout == "v2"
   - cnx_ingress_already_provisioned_helm2.rc == 0
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Delete cnx-ingress if already exists helm-3
  shell:                     helm uninstall cnx-ingress --namespace {{ __default_namespace }}
  when:
   - helm_version.stdout != "v2"
   - cnx_ingress_already_provisioned_helm3.rc == 0
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Delete configmaps
  shell:                     kubectl delete configmaps ingress-controller-leader ingress-controller-leader-nginx -n {{ __default_namespace }}
  when:
   - helm_version.stdout != "v2"
   - cnx_ingress_already_provisioned_helm3.rc == 0
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Give it some space...
  pause:
    seconds:                 15

- name:                      Check if prom-operator is already deployed helm-2
  shell:                     helm ls | grep prom-operator | grep -i DEPLOYED
  when:
   - helm_version.stdout == "v2"
  changed_when:              true
  register:                  prom_operator_already_provisioned_helm2
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name:                      Check if prom-operator is already deployed helm-3
  shell:                     helm ls --all-namespaces | grep prom-operator | grep -i DEPLOYED
  when:
   - helm_version.stdout != "v2"
  changed_when:              true
  register:                  prom_operator_already_provisioned_helm3
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name: Removing existing ingress-nginx file with same name for helm-2
  file:
    path:                    $HOME/{{ __helm2_ingress_chart }}
    state:                   absent
  when:
   - helm_version.stdout == "v2"
  become_user:               "{{ __sudo_user }}"
  ignore_errors:             true

- name: Download ingress-nginx-3.9.0.tgz if using helm2
  become_user:               "{{ __sudo_user }}"
  get_url:
    url:                     http://{{ __helm2_ingress_url }}
    dest:                    $HOME/
    mode:                    777
  when:
   - helm_version.stdout == "v2"
   - ("api." not in cluster_flavor_check.stdout)

- name: copy cnx_ingress_values.yml from local host to remote host (relative path, ./files/)
  copy:
    src: cnx-ingress-values.yml
    dest: $HOME/
    mode:                    '0777'
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if Vanilla Kubernetes if Prom-Operator already Deployed helm-2
  shell:                     helm upgrade cnx-ingress -i {{ __helm2_ingress_chart }} --namespace {{ __default_namespace }} --set {{ __communityingress_env_vanilla }} -f cnx-ingress-values.yml --wait
  when:
   - helm_version.stdout == "v2"
   - prom_operator_already_provisioned_helm2.rc == 0
   - ("eks.amazonaws.com" not in cluster_flavor_check.stdout) and  ("api." not in cluster_flavor_check.stdout)
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if Vanilla Kubernetes if Prom-Operator already Deployed helm-3
  shell:                     helm upgrade cnx-ingress -i ingress-nginx/ingress-nginx --namespace {{ __default_namespace }} --set {{ __communityingress_env_vanilla }} -f cnx-ingress-values.yml --wait
  when:
   - helm_version.stdout != "v2"
   - prom_operator_already_provisioned_helm3.rc == 0
   - ("eks.amazonaws.com" not in cluster_flavor_check.stdout) and  ("api." not in cluster_flavor_check.stdout)
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if Vanilla Kubernetes if Prom-Operator Not already Deployed helm-2
  shell:                     helm upgrade cnx-ingress -i {{ __helm2_ingress_chart }} --namespace {{ __default_namespace }} --set {{ __communitying_ind_env_vanilla }} --wait
  when:
   - helm_version.stdout == "v2"
   - prom_operator_already_provisioned_helm2.rc != 0 
   - ("eks.amazonaws.com" not in cluster_flavor_check.stdout) and  ("api." not in cluster_flavor_check.stdout)
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if Vanilla Kubernetes if Prom-Operator Not already Deployed helm-3
  shell:                     helm upgrade cnx-ingress -i ingress-nginx/ingress-nginx --namespace {{ __default_namespace }} --set {{ __communitying_ind_env_vanilla }} --wait
  when:
   - helm_version.stdout != "v2"
   - prom_operator_already_provisioned_helm3.rc != 0
   - ("eks.amazonaws.com" not in cluster_flavor_check.stdout) and  ("api." not in cluster_flavor_check.stdout)
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if EKS/OpenShift  if Prom-Operator already Deployed helm-2
  shell:                     helm upgrade cnx-ingress -i {{ __helm2_ingress_chart }} --namespace {{ __default_namespace }} --set {{ __communityingress_env_eks_os }} -f cnx-ingress-values.yml --wait
  when:
   - helm_version.stdout == "v2"
   - ("eks.amazonaws.com" in cluster_flavor_check.stdout) or  ("api." in cluster_flavor_check.stdout)
   - prom_operator_already_provisioned_helm2.rc == 0
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if EKS/OpenShift  if Prom-Operator already Deployed helm-3
  shell:                     helm upgrade cnx-ingress -i ingress-nginx/ingress-nginx --namespace {{ __default_namespace }} --set {{ __communityingress_env_eks_os }} -f cnx-ingress-values.yml --wait
  when:
   - helm_version.stdout != "v2"
   - ("eks.amazonaws.com" in cluster_flavor_check.stdout) or  ("api." in cluster_flavor_check.stdout)
   - prom_operator_already_provisioned_helm3.rc == 0
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if EKS/OpenShift  if Prom-Operator Not already Deployed helm-2
  shell:                     helm upgrade cnx-ingress -i {{ __helm2_ingress_chart }} --namespace {{ __default_namespace }} --set {{ __communitying_ind_env_eks_os }} --wait
  when:
   - helm_version.stdout == "v2"
   - ("eks.amazonaws.com" in cluster_flavor_check.stdout) or  ("api." in cluster_flavor_check.stdout)
   - prom_operator_already_provisioned_helm2.rc != 0
  become_user:               "{{ __sudo_user }}"

- name:                      Install ingress-nginx - if EKS/OpenShift  if Prom-Operator Not already Deployed helm-3
  shell:                     helm upgrade cnx-ingress -i ingress-nginx/ingress-nginx --namespace {{ __default_namespace }} --set {{ __communitying_ind_env_eks_os }} --wait
  when:
   - helm_version.stdout != "v2"
   - ("eks.amazonaws.com" in cluster_flavor_check.stdout) or  ("api." in cluster_flavor_check.stdout)
   - prom_operator_already_provisioned_helm3.rc != 0
  become_user:               "{{ __sudo_user }}"

- name:                      Wait for ingress controller to become ready as per https://kubernetes.github.io/ingress-nginx/deploy/
  shell:                     kubectl wait --namespace {{ __default_namespace }} --for=condition=ready pod --selector=app.kubernetes.io/component=controller --timeout=120s
  become_user:               "{{ __sudo_user }}"

- name:                      Find cnx-ingress helm file
  find:
    paths:                   "{{ __helmbuilds_folder }}"
    patterns:                "cnx-ingress-*.tgz"
    file_type:               file
  register:                  cnxingress_tgz

- name:                      Found cnx-ingress file
  debug:
    msg:                     "{{ cnxingress_tgz.files[0].path }}"

- name:                      "Render {{ __cnxingressonly_env }}"
  template:
    src:                     "helmvars/communityingress.yml.j2"
    dest:                    "{{ __cnxingressonly_env }}"
  become_user:               "{{ __sudo_user }}"

- name:                      Setup cnx-ingress Ingress Rule Only helm upgrade cnx-ingress-rule {{ cnxingress_tgz.files[0].path }} -i -f {{ __cnxingressonly_env }} --namespace {{ __default_namespace }} --wait
  command:                   "helm upgrade cnx-ingress-rule {{ cnxingress_tgz.files[0].path }} -i -f {{ __cnxingressonly_env }} --namespace {{ __default_namespace }} --wait"
  become_user:               "{{ __sudo_user }}"
